---
import { faFileLines, faEnvelope } from "@fortawesome/free-solid-svg-icons";
import { siGithub, siLinkedin } from "simple-icons";
import { siteName } from "@/constants";
import { FontAwesomeIcon, SimpleIconsIcon, IconLink } from "@/components";
---

<header class="bg-slate-200 p-5 dark:bg-slate-700">
  <div
    class="mx-auto flex max-w-screen-lg flex-col items-center justify-between gap-3 sm:flex-row"
  >
    <a href="/"><h1 class="text-4xl font-bold">{siteName}</h1></a>
    <div class="mr-1 flex items-center gap-5">
      <IconLink large href="https://github.com/alexhad6" label="GitHub Profile">
        <SimpleIconsIcon large icon={siGithub} />
      </IconLink>
      <IconLink
        large
        href="https://www.linkedin.com/in/alexhadley/"
        label="LinkedIn Profile"
      >
        <SimpleIconsIcon large icon={siLinkedin} />
      </IconLink>
      <IconLink large href="/Resume - Alex Hadley.pdf" label="Resume">
        <FontAwesomeIcon large icon={faFileLines} />
      </IconLink>
      <IconLink large href="mailto:contact@alexhadley.net" label="Email">
        <FontAwesomeIcon large icon={faEnvelope} />
      </IconLink>
    </div>
  </div>
</header>
