---
import "@fontsource-variable/inter";
import inter from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2";
import "@/styles/global.css";
import { siteName } from "@/constants";
import Header from "@/components/Header.astro";

type Props = {
  /**
   * Optional page title.
   *
   * If included, the page title will be set to `{title} | {siteName}`; otherwise, the
   * title will just be `{siteName}`.
   */
  title?: string;
};

const { title } = Astro.props;
const titlePrefix = title ? `${title} | ` : "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Alex Hadley’s software portfolio." />
    <title>{titlePrefix + siteName}</title>
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: "Alex Hadley",
        url: "https://alexhadley.net/",
      })}
    />
    <link rel="preload" as="font" href={inter} type="font/woff2" />
  </head>
  <body class="flex h-screen flex-col bg-slate-100 dark:bg-slate-800 dark:text-white">
    <Header />
    <main class="grow p-5">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: "Inter Variable", sans-serif;
  }

  a {
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }

  p > a {
    text-decoration-line: underline;
  }
</style>
