---
import "@fontsource-variable/inter";
import { siteName } from "@/constants";
import Header from "@/components/Header.astro";

type Props = {
  /**
   * Optional page title.
   *
   * If included, the page title will be set to `{title} | {siteName}`; otherwise, the
   * title will just be `{siteName}`.
   */
  title?: string;
};

const { title } = Astro.props;
const titlePrefix = title ? `${title} | ` : "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Alex Hadley’s software portfolio." />
    <title>{titlePrefix + siteName}</title>
  </head>
  <body class="flex h-screen flex-col dark:text-white">
    <Header />
    <main class="grow bg-slate-100 p-4 dark:bg-slate-800">
      <div class="m-auto h-full max-w-screen-xl space-y-4">
        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: "Inter Variable", sans-serif;
  }

  main a {
    text-decoration-line: underline;
  }
</style>
